@mixin btn-base {
    padding: 0.25rem 1.5rem;
    border-radius: 0.25rem;
}

@mixin btn-sm-modify {
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}

$color-main:#0075ff;
$color-footer: #f4f8f3;

.btn-main {
    @include btn-base();
    background-color: $color-main;
    color: white;
    border: solid 1px $color-main;

    &:hover {
        background-color: white;
        color: $color-main;
    }

    &-s {
        @extend .btn-main;
        @include btn-sm-modify();
    }
}

.btn-sec {
    @include btn-base();
    color: black;
    background-color: transparent;
    border: none;

    &:hover {
        color: #888;
    }

    &-s {
        @extend .btn-sec;
        @include btn-sm-modify();
    }
}

.main-menu {

    margin-bottom: 0;

    li {
        font-size: 1rem;
        list-style: none;
        display: inline;
        margin-left: 2rem;
        a {
            color: rgb(93, 81, 81);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.icon-sm {
    i {
        font-size: 1.25rem;
        color: $color-main;
        padding: 0.4rem 0.65rem;
        border-radius: 50%;
        box-shadow: 0 0 10px #ff0c0cd8;
        margin: 0 0 0 90px;
    }
}

.benefit {
    display: flex;
    flex-direction: column;
    .icon {
        
        color:$color-main;
        font-size: 7.5rem;
        text-align: center;
    }

    .description {
    .title {
        font-size: 2rem;
        text-align: center;
    }

    .text {
        color:#888;
        font-weight: 600;
        text-align: center;
    }
    
    }

    .cta {
        color: $color-main;
        font-weight: 600;
        margin-top: 3rem;
        text-align: center;
    }
}

.icon-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i {
        color:$color-main;
        font-size: 10rem;
        padding: 0;
        text-align: center;
    }

    .title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: -2rem;
        text-align: center;
    } 
}