@use "componentes";


@mixin section-display {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 2rem;
}

body {
    padding:0px;
    margin: 0px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;     
    height: 4rem;
    border-bottom: solid 1px #0440f3;
}

.logo {
    max-width: 15rem;
}


.sec-home {
    @include section-display();
    display: flex;
    align-items: center;
    .home-cta {
        flex: 1;
        .cta-text {
            color: componentes.$color-main;
        }

        .home-title {
            width: 20rem;
            font-size: 3rem;
        }

        .home-description {
            width: 300px;
        }

        .lead-magnet {
            .input-col {
                max-width: 200px;
            }
        }
    }

    .home-img {
        margin-left: -100px;
    }
}

.sec-features {
    @include section-display();
    display: flex;
    flex-direction: column;
    align-items: center;
    .intro {
        text-align: center;

        h3 {
            font-size: 1.8rem;
        }
        p {
            font-size: 0.8rem;
            color: #888;
        }
    }
    .features {
        display: flex;
        gap:1rem;
        align-items: center;
        .text {
            padding: 2rem 0;
            flex: 1;
            .feature {
                display: flex;
                flex-direction: row;
                align-items: center;
                .description {
                    margin-left: 1rem ;
                    max-width: 20rem;
                    .description-title {
                        font-size: 1.25rem;
        
                    }
                    .description-text {
                        font-size: 1rem;
                    }
        
                }
            }
            
        }
    }
}

.sec-benefits {
    border-top: 1px solid rgb(183, 183, 255);
    .intro {
        @extend .sec-features , .intro;
    }
    .benefit-cards {
        width: 100%;
        padding: 0 4rem;
    }
}

.sec-kpis {
    width: 100%;
    background-color: componentes.$color-main;
    color: white;
    padding: 4rem;
    .kpi {
        display: flex;
        flex-direction: column;
        align-items: center;
        .number {
            font-size: 3.5rem;
            font-weight: 600;
        }
        .desc {
            font-size: 0.9rem;
            color: #ffffffaa;
        }
    }
}

.sec-onboarding {
    .intro {
        @extend .sec-features, .intro;
    }
    .steps {
        display: flex;
        align-items: center;
        justify-content: center;

        .step-separator {
            margin: 100px;
        }
    }
}

.sec-footer-cta {
    background-color: componentes.$color-footer;
    padding: 5rem;
    background-image: url("../assets/img/bg.png") ;
    background-position: 100%;
    background-repeat: no-repeat;
    .footer-cta {
        width: 50%;
    .cta-title {
        font-size: 2rem;
    }
    .cta-description {
        font-size: 1.1rem; 
    }

    }

}


@media (max-width: 768px){
    .sec-onboarding {
        .steps {
            flex-direction: column;

            .step-separator {
                margin: 50px;
            }

            .icon-desc {
                .title {
                    text-align: center;
                }
            }
        }
    }

    .sec-footer-cta {
        background-image: none;
        .footer-cta {
            width: 100%;
            text-align: center;
        }
    }

    .sec-benefits {
        .intro {
            text-align: center;

            .h3 {
                font-size: 2rem;
            }
        }
    }

    .sec-features {
        .intro {
            p {
                font-size: 1rem;

            }
            h3 {
                font-size: 2rem;
            }
        }
    }
}